---
title: Beach Weather
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="src/css/styles.css">
    <script type="module" src="../src/js/main.js"></script>
  </head>
  <body id="body">
  <h1 class="title">{{ title }}</h1>
    {{ content | safe }}
    <div id="table_container">
  </body>
</html>